.bnt {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.bnt:first-child {
    border-radius: 40px 40px 0 0;
}

nav {
    display: block;
}

.bnt.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
    }

    .bnt:first-child {
        border-radius: 40px 0 0 0;
    }

    .bnt:last-child {
        border-radius: 0 40px 0 0;
    }
}